@import "../../assets/styles/settings";

.footer-wrapper {
    .footer-bottom {
        background-color: rgb(212, 255, 254);
        padding: 50px;

        p {
            font-size: 0.8em;
            color: gray;
            margin: 30px 0;
        }
    }
}
